@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TT\ Commons\ Light.otf') format('truetype');
    /* src: url('assets/fonts/tt_commons_pro_regular.otf') format('truetype'); */
    /* Need the TT_Commons_Pro font */
    /* src: url('assets/fonts/TT_Commons_Regular.otf') format('truetype'); */
}

@font-face {
    font-family: 'TT Commons Bold';
    src: url('assets/fonts/TT Commons Bold.otf') format('truetype');
}

@font-face {
    font-family: 'TT Commons Medium';
    src: url('assets/fonts/TT_Commons_Medium.otf') format('truetype');
}

* {
    font-family: 'TT Commons', Helvetica, Arial, sans-serif !important;
    color: #4D4D4D;

}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.shadow-bottom-md {
    box-shadow: 0px -4px 14px 0px rgba(0, 0, 0, 0.12);
}

.shadow-bottom-sm {
    box-shadow: 0px -4px 14px 0px rgba(0, 0, 0, 0.08);
}

.custom-shadow-md {
    @apply shadow-bottom-md;
}

.custom-shadow-sm {
    @apply shadow-bottom-sm;
}